*{
	display: block;
}

body{
	overflow: hidden;
}

head{
	display: none;
}

div{
	color: #FFFFFF;
}

img{
	display: block;
	width: 100%;
	height: auto;
}

p{
	font-family: 'sans-serif';
}

code{
	font-family: 'Noto Sans Mono';
	font-size: 11px;
	white-space: pre;
}

a{
	line-height: inherit;
	font: inherit;
	text-decoration: none;
	color: #EEEEEE;
}

.layer{
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.button_pane{
	display: block;
	width: 30vmin;
	height: 30vmin;
	margin: 5vmin;
	padding: 5vmin;
	border-radius: 10px;
}

.button_pane:hover{
	background: #44444444;
}

.button_pane:active{
	background: #22222222;
}